  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/success">Maco</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/order" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">Fichier</a> -->
          <a class="nav-item nav-link" routerLink="/success" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Accueil</a>
          <a class="nav-item nav-link" routerLink="/order" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Ajouter</a>
          <a class="nav-item nav-link" routerLink="/apropos" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
              true}">A propos</a>
      </div>
    </div>
  </nav>