  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Maco</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/order" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">Fichier</a>
          <a class="nav-item nav-link" routerLink="/order" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">Ajouter</a>
      </div>
    </div>
  </nav>