<h3>Planning Coupe</h3>

<app-navbar></app-navbar>

<!-- <form class="form-inline md-form form-sm" [formGroup]="searchOrderForm" (ngSubmit)="onSearchOrderFormSubmit()">
    <div class="d-inline form-group">
        <label>Client</label>
        <input type="text" formControlName="client" class="form-control"/>
    </div>
    <div class="d-inline form-group">
        <label>Modèle</label>
        <input type="text" formControlName="model" class="form-control"/>
    </div>
    <div class="d-inline form-group">
        <label>article</label>
        <input type="text" formControlName="article" class="form-control"/>
    </div>
    <div class="d-inline form-group">
        <label>Min Confection</label>
        <input type="text" formControlName="minConfection" class="form-control"/>
    </div>
    <div class="d-inline form-group">
        <label>Min Cut</label>
        <input type="text" formControlName="minCut" class="form-control"/>
    </div>
    <div class="d-inline form-group">
      <label> Lancer la recherche </label>
        <button class="btn btn-primary">Search</button>
    </div>
    <div class="form-group">
       
    </div>
</form> -->
<!-- <button (click)="refresh()">Refresh</button> -->
<!-- <ng-template #create>
  <h3> Create New Order</h3>
</ng-template> -->
<h1>Nouveau planning coupe</h1>
<div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-6"> -->
  <form class="container" [formGroup]="cutPlanningForm" (ngSubmit)="onCutPlanningFormSubmit()">
    <table>
      <div class="row">
        <div class="col-xs-6">
          <tr>
            <td>Date d'export</td>
            <!-- \d{1,2}/\d{1,2}/\d{4} type="date"  (0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}-->
            <td><input type="date" class="form-control" formControlName="exportDate">
              <label *ngIf="cutPlanningForm.get('exportDate').invalid && processValidation" [ngClass]="'error'"> Date
                d'export est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Semaine</td>
            <td><input class="form-control" formControlName="planningWeek">
              <label *ngIf="cutPlanningForm.get('planningWeek').invalid && processValidation" [ngClass]="'error'">
                Semaine
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Client</td>
            <td><input class="form-control" formControlName="client">
              <label *ngIf="cutPlanningForm.get('client').invalid && processValidation" [ngClass]="'error'"> Client
                est
                requis. </label>
            </td>
          </tr>
          <tr>
          <tr>
            <td>Modèle</td>
            <td><input class="form-control" formControlName="model">
              <label *ngIf="cutPlanningForm.get('model').invalid && processValidation" [ngClass]="'error'"> Modèle
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Article</td>
            <td><input class="form-control" formControlName="article">
              <label *ngIf="cutPlanningForm.get('article').invalid && processValidation" [ngClass]="'error'"> Article
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Quantité</td>
            <td><input class="form-control" formControlName="quantity">
              <label *ngIf="cutPlanningForm.get('quantity').invalid && processValidation" [ngClass]="'error'">
                Quantité est
                requis. </label>
            </td>
          </tr>
        </div>
        <div class="col-xs-6">
          <tr>
            <td>Rendement</td>
            <td><input class="form-control" formControlName="efficiency">
              <label *ngIf="cutPlanningForm.get('efficiency').invalid && processValidation" [ngClass]="'error'">
                Rendement
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Effectif</td>
            <td><input class="form-control" formControlName="effective">
              <label *ngIf="cutPlanningForm.get('effective').invalid && processValidation" [ngClass]="'error'">
                Effectif
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Jour</td>
            <td><input class="form-control" formControlName="day">
            </td>
          </tr>
          <tr>
            <td>Temps de présence</td>
            <td><input class="form-control" formControlName="presenceTime">
              <label *ngIf="cutPlanningForm.get('presenceTime').invalid && processValidation" [ngClass]="'error'">
                Temps
                de
                présence est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Responsable de coupe</td>
            <td><input class="form-control" formControlName="cutResponsable">
              <label *ngIf="cutPlanningForm.get('cutResponsable').invalid && processValidation" [ngClass]="'error'">
                Responsable de coupe est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Taux d'absentéisme</td>
            <td><input class="form-control" formControlName="absenteeismRate">
              <label *ngIf="cutPlanningForm.get('absenteeismRate').invalid && processValidation" [ngClass]="'error'">
                Taux
                d'absentéisme est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button *ngIf="!cutPlanningIdToUpdate">Ajouter</button>
              <button *ngIf="cutPlanningIdToUpdate">Modifier</button>
              <button (click)="backToCreateCutPlanning()" *ngIf="cutPlanningIdToUpdate">Retourner</button>
            </td>
          </tr>
        </div>
      </div>
    </table>
  </form>
  <!-- </div>
    </div>
  </div> -->
  <br />
  <div *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" [ngClass]="'success'">
      Planning coupe ajouté.
    </div>
    <div *ngIf="statusCode === 409" [ngClass]="'success'">
      Planning coupe déjà ajouté.
    </div>
    <div *ngIf="statusCode === 200" [ngClass]="'success'">
      Planning coupe modifié.
    </div>
    <div *ngIf="statusCode === 204" [ngClass]="'success'">
      Planning coupe supprimé.
    </div>
    <div *ngIf="statusCode === 500" [ngClass]="'error'">
      Erreur Serveur.
    </div>
  </div>
  <ng-template #processing>
    <img *ngIf="requestProcessing" src="assets/images/loading.gif">
  </ng-template>
</div>
<h3>Détails du planning coupe</h3>

<table mdbTable class="table table-border">
  <thead>
    <tr>
      <th>Date d'export</th>
      <th>Semaine</th>
      <th>Client</th>
      <th>Modèle</th>
      <th>Article</th>
      <th>Quantité</th>
      <th>Rendement</th>
      <th>Effectif</th>
      <th>Jour</th>
      <th>Date de présence</th>
      <th>Responsable coupe</th>
      <th>Taux d'absentéisme</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let cutPlanning of cutPlannings">
      <td>{{cutPlanning.exportDate  | date: 'dd/MM/yyyy'}}</td>
      <td>{{cutPlanning.planningWeek}}</td>
      <td>{{cutPlanning.client}}</td>
      <td>{{cutPlanning.model}}</td>
      <td>{{cutPlanning.article}}</td>
      <td>{{cutPlanning.quantity}}</td>
      <td>{{cutPlanning.efficiency}}</td>
      <td>{{cutPlanning.effective}}</td>
      <td>{{cutPlanning.day}}</td>
      <td>{{cutPlanning.presenceTime}}</td>
      <td>{{cutPlanning.cutResponsable}}</td>
      <td>{{cutPlanning.absenteeismRate}}</td>
      <td><button type="button" (click)="loadCutPlanningToEdit(cutPlanning.id)">Edit</button> </td>
      <td><button type="button" (click)="deleteCutPlanning(cutPlanning.id)">Delete</button></td>
    </tr>
  </tbody>
</table>

<!-- <div class="card-columns">
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">Responsable Coupe : </p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">Planning de la semaine : </p>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-center">
      <p class="card-text">Date d'export : </p>
    </div>
  </div>
</div> -->

<button (click)="exportAsXLSX()">Télécharger le planning coupe</button>
<table class="table table-bordered" #table>
  <thead>
      <tr>
          <th scope="col" colspan="2">Responsable Coupe : {{responsable}} </th>
          <th scope="col" colspan="3">Planning de la semaine : {{planningWeek}} </th>
          <th scope="col" colspan="2">Date d'export : {{exportDate  | date: 'dd/MM/yyyy'}} </th>
        </tr>
        <tr>
            <th scope="col" colspan="7"></th>
          </tr>
          <tr>
              <th scope="col" colspan="7"></th>
            </tr>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
      <th scope="col">Samedi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">07:15-08:15</th>
      <td>{{weekWorkTable[0]}}</td>
      <td>{{weekWorkTable[9]}}</td>
      <td>{{weekWorkTable[18]}}</td>
      <td>{{weekWorkTable[27]}}</td>
      <td>{{weekWorkTable[36]}}</td>
      <td>{{weekWorkTable[45]}}</td>
    </tr>
    <tr>
      <th scope="row">08:15-09:15</th>
      <td>{{weekWorkTable[1]}}</td>
      <td>{{weekWorkTable[10]}}</td>
      <td>{{weekWorkTable[19]}}</td>
      <td>{{weekWorkTable[28]}}</td>
      <td>{{weekWorkTable[37]}}</td>
      <td>{{weekWorkTable[46]}}</td>
    </tr>
    <tr>
      <th scope="row">09:15-10:15</th>
      <td>{{weekWorkTable[2]}}</td>
      <td>{{weekWorkTable[11]}}</td>
      <td>{{weekWorkTable[20]}}</td>
      <td>{{weekWorkTable[29]}}</td>
      <td>{{weekWorkTable[38]}}</td>
      <td>{{weekWorkTable[47]}}</td>
    </tr>
    <tr>
      <th scope="row">10:15-11:15</th>
      <td>{{weekWorkTable[3]}}</td>
      <td>{{weekWorkTable[12]}}</td>
      <td>{{weekWorkTable[21]}}</td>
      <td>{{weekWorkTable[30]}}</td>
      <td>{{weekWorkTable[39]}}</td>
      <td>{{weekWorkTable[48]}}</td>
    </tr>
    <tr>
      <th scope="row">11:15-12:00</th>
      <td>{{weekWorkTable[4]}}</td>
      <td>{{weekWorkTable[13]}}</td>
      <td>{{weekWorkTable[22]}}</td>
      <td>{{weekWorkTable[31]}}</td>
      <td>{{weekWorkTable[40]}}</td>
      <td>{{weekWorkTable[49]}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{weekWorkTable[50]}}</td>
    </tr>
    <tr>
      <th scope="row">12:45-13:45</th>
      <td>{{weekWorkTable[5]}}</td>
      <td>{{weekWorkTable[14]}}</td>
      <td>{{weekWorkTable[23]}}</td>
      <td>{{weekWorkTable[32]}}</td>
      <td>{{weekWorkTable[41]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">13:45-14:45</th>
      <td>{{weekWorkTable[6]}}</td>
      <td>{{weekWorkTable[15]}}</td>
      <td>{{weekWorkTable[24]}}</td>
      <td>{{weekWorkTable[33]}}</td>
      <td>{{weekWorkTable[42]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">14:45-15:45</th>
      <td>{{weekWorkTable[7]}}</td>
      <td>{{weekWorkTable[16]}}</td>
      <td>{{weekWorkTable[25]}}</td>
      <td>{{weekWorkTable[34]}}</td>
      <td>{{weekWorkTable[43]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">15:45-16:30</th>
      <td>{{weekWorkTable[8]}}</td>
      <td>{{weekWorkTable[17]}}</td>
      <td>{{weekWorkTable[26]}}</td>
      <td>{{weekWorkTable[35]}}</td>
      <td>{{weekWorkTable[44]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td scope="col" colspan="7"><span *ngIf="numberOfNextWeekTasks > 0">Vous avez {{numberOfNextWeekTasks}} tâches pour la semaine prochaine</span></td>
    </tr>
    <tr>
        <th scope="row"></th>
        <td scope="col" colspan="7"></td>
      </tr>
    <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td colspan="4" class="font-weight-bold">Validé par le responsable planning :</td>
      </tr>
  </tbody>
</table>

