<h3>Planning Coupe</h3>

<app-navbar></app-navbar>

<h1>Nouveau planning coupe</h1>
<div>
  <form class="container" [formGroup]="cutPlanningForm" (ngSubmit)="onCutPlanningFormSubmit()">
    <table>
      <div class="row">
        <div class="col-xs-6">
          <tr>
            <td>Date d'export</td>
            <td><input type="date" class="form-control" formControlName="exportDate">
              <label *ngIf="cutPlanningForm.get('exportDate').invalid && processValidation" [ngClass]="'error'"> Date
                d'export est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Semaine</td>
            <td><input class="form-control" formControlName="planningWeek">
              <label *ngIf="cutPlanningForm.get('planningWeek').invalid && processValidation" [ngClass]="'error'">
                Semaine
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Client</td>
            <td><input class="form-control" formControlName="client">
              <label *ngIf="cutPlanningForm.get('client').invalid && processValidation" [ngClass]="'error'"> Client
                est
                requis. </label>
            </td>
          </tr>
          <tr>
          <tr>
            <td>Modèle</td>
            <td><input class="form-control" formControlName="model">
              <label *ngIf="cutPlanningForm.get('model').invalid && processValidation" [ngClass]="'error'"> Modèle
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Article</td>
            <td><input class="form-control" formControlName="article">
              <label *ngIf="cutPlanningForm.get('article').invalid && processValidation" [ngClass]="'error'"> Article
                est
                requis. </label>
            </td>
          </tr>
        </div>
        <div class="col-xs-6">
            <tr>
                <td>Numéro de Commande</td>
                <td><input class="form-control" formControlName="commandNumber">
                  <label *ngIf="cutPlanningForm.get('commandNumber').invalid && processValidation" [ngClass]="'error'">
                    Numéro de commande est
                    requis. </label>
                </td>
              </tr>
            <tr>
                <td>Quantité</td>
                <td><input class="form-control" formControlName="quantity">
                  <label *ngIf="cutPlanningForm.get('quantity').invalid && processValidation" [ngClass]="'error'">
                    Quantité est
                    requis. </label>
                </td>
              </tr>
          <tr>
            <td>Rendement</td>
            <td><input class="form-control" formControlName="efficiency">
              <label *ngIf="cutPlanningForm.get('efficiency').invalid && processValidation" [ngClass]="'error'">
                Rendement
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Effectif</td>
            <td><input class="form-control" formControlName="effective">
              <label *ngIf="cutPlanningForm.get('effective').invalid && processValidation" [ngClass]="'error'">
                Effectif
                est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td>Taux d'absentéisme</td>
            <td><input class="form-control" formControlName="absenteeismRate">
              <label *ngIf="cutPlanningForm.get('absenteeismRate').invalid && processValidation" [ngClass]="'error'">
                Taux
                d'absentéisme est
                requis. </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button *ngIf="!cutPlanningIdToUpdate">Ajouter</button>
              <button *ngIf="cutPlanningIdToUpdate">Modifier</button>
              <button (click)="backToCreateCutPlanning()" *ngIf="cutPlanningIdToUpdate">Retourner</button>
            </td>
          </tr>
        </div>
      </div>
    </table>
  </form>

  <br />
  <div *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" [ngClass]="'success'">
      Planning coupe ajouté.
    </div>
    <div *ngIf="statusCode === 409" [ngClass]="'success'">
      Planning coupe déjà ajouté.
    </div>
    <div *ngIf="statusCode === 200" [ngClass]="'success'">
      Planning coupe modifié.
    </div>
    <div *ngIf="statusCode === 204" [ngClass]="'success'">
      Planning coupe supprimé.
    </div>
    <div *ngIf="statusCode === 500" [ngClass]="'error'">
      Erreur Serveur.
    </div>
  </div>
  <button (click)="resetForm()">Reset</button>
  <ng-template #processing>
    <img *ngIf="requestProcessing" src="assets/images/loading.gif">
  </ng-template>
</div>

<div *ngIf="cutPlannings != null && cutPlannings.length > 0">
<h3>Détails du planning coupe</h3>

<!-- <table mdbTable class="table table-border">
  <thead>
    <tr>
      <th>Date d'export</th>
      <th>Semaine</th>
      <th>Client</th>
      <th>Modèle</th>
      <th>Article</th>
      <th>Quantité</th>
      <th>Rendement</th>
      <th>Effectif</th>
      <th>Jour</th>
      <th>Date de présence</th>
      <th>Responsable coupe</th>
      <th>Taux d'absentéisme</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let cutPlanning of cutPlannings">
      <td>{{cutPlanning.exportDate  | date: 'dd/MM/yyyy'}}</td>
      <td>{{cutPlanning.planningWeek}}</td>
      <td>{{cutPlanning.client}}</td>
      <td>{{cutPlanning.model}}</td>
      <td>{{cutPlanning.article}}</td>
      <td>{{cutPlanning.quantity}}</td>
      <td>{{cutPlanning.efficiency}}</td>
      <td>{{cutPlanning.effective}}</td>
      <td>{{cutPlanning.day}}</td>
      <td>{{cutPlanning.presenceTime}}</td>
      <td>{{cutPlanning.cutResponsable}}</td>
      <td>{{cutPlanning.absenteeismRate}}</td>
      <td><button type="button" (click)="loadCutPlanningToEdit(cutPlanning.id)">Edit</button> </td>
      <td><button type="button" (click)="deleteCutPlanning(cutPlanning.id)">Delete</button></td>
    </tr>
  </tbody>
</table> -->

<div alt="Max-width 100%">

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Date Export">
      <mat-header-cell *matHeaderCellDef> Date Export </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.exportDate | date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Semaine">
      <mat-header-cell *matHeaderCellDef> Semaine </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.planningWeek}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Client">
      <mat-header-cell *matHeaderCellDef> Client </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.client}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Modèle">
      <mat-header-cell *matHeaderCellDef> Modèle </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Article">
      <mat-header-cell *matHeaderCellDef> Article </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.article}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Numéro Commande">
        <mat-header-cell *matHeaderCellDef> Numéro Commande </mat-header-cell>
        <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.commandNumber}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="Quantité">
      <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.quantity}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Rendement">
      <mat-header-cell *matHeaderCellDef> Rendement </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.efficiency}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Effectif">
      <mat-header-cell *matHeaderCellDef> Effectif </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.effective}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Taux Absentéisme">
      <mat-header-cell *matHeaderCellDef> Taux Absentéisme </mat-header-cell>
      <mat-cell *matCellDef="let cutPlanning"> {{cutPlanning.absenteeismRate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> edit </mat-header-cell>
      <mat-cell *matCellDef="let order"> <button mat-button (click)="loadCutPlanningToEdit(order.id)">Edit</button> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> delete </mat-header-cell>
      <mat-cell *matCellDef="let order"> <button mat-button (click)="deleteCutPlanning(order.id)">Delete</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let order; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>

<div>
  <div class="d-inline col">
    <button (click)="exportAsXLSX()">Télécharger le planning coupe</button>
  </div>
</div>
<table class="table table-bordered" #table>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
      <th scope="col">Samedi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">07:15-07:45</th>
      <td>{{weekWorkTable[0]}}</td>
      <td>{{weekWorkTable[17]}}</td>
      <td>{{weekWorkTable[34]}}</td>
      <td>{{weekWorkTable[51]}}</td>
      <td>{{weekWorkTable[68]}}</td>
      <td>{{weekWorkTable[85]}}</td>
    </tr>
    <tr>
      <th scope="row">07:45-08:15</th>
      <td>{{weekWorkTable[1]}}</td>
      <td>{{weekWorkTable[18]}}</td>
      <td>{{weekWorkTable[35]}}</td>
      <td>{{weekWorkTable[52]}}</td>
      <td>{{weekWorkTable[69]}}</td>
      <td>{{weekWorkTable[86]}}</td>
    </tr>
    <tr>
      <th scope="row">08:15-08:45</th>
      <td>{{weekWorkTable[2]}}</td>
      <td>{{weekWorkTable[19]}}</td>
      <td>{{weekWorkTable[36]}}</td>
      <td>{{weekWorkTable[53]}}</td>
      <td>{{weekWorkTable[70]}}</td>
      <td>{{weekWorkTable[87]}}</td>
    </tr>
    <tr>
      <th scope="row">08:45-09:15</th>
      <td>{{weekWorkTable[3]}}</td>
      <td>{{weekWorkTable[20]}}</td>
      <td>{{weekWorkTable[37]}}</td>
      <td>{{weekWorkTable[54]}}</td>
      <td>{{weekWorkTable[71]}}</td>
      <td>{{weekWorkTable[88]}}</td>
    </tr>
    <tr>
      <th scope="row">09:15-09:45</th>
      <td>{{weekWorkTable[4]}}</td>
      <td>{{weekWorkTable[21]}}</td>
      <td>{{weekWorkTable[38]}}</td>
      <td>{{weekWorkTable[55]}}</td>
      <td>{{weekWorkTable[72]}}</td>
      <td>{{weekWorkTable[89]}}</td>
    </tr>
    <tr>
      <th scope="row">09:45-10:15</th>
      <td>{{weekWorkTable[5]}}</td>
      <td>{{weekWorkTable[22]}}</td>
      <td>{{weekWorkTable[39]}}</td>
      <td>{{weekWorkTable[56]}}</td>
      <td>{{weekWorkTable[73]}}</td>
      <td>{{weekWorkTable[90]}}</td>
    </tr>
    <tr>
      <th scope="row">10:15-10:45</th>
      <td>{{weekWorkTable[6]}}</td>
      <td>{{weekWorkTable[23]}}</td>
      <td>{{weekWorkTable[40]}}</td>
      <td>{{weekWorkTable[57]}}</td>
      <td>{{weekWorkTable[74]}}</td>
      <td>{{weekWorkTable[91]}}</td>
    </tr>
    <tr>
      <th scope="row">10:45-11:15</th>
      <td>{{weekWorkTable[7]}}</td>
      <td>{{weekWorkTable[24]}}</td>
      <td>{{weekWorkTable[41]}}</td>
      <td>{{weekWorkTable[58]}}</td>
      <td>{{weekWorkTable[75]}}</td>
      <td>{{weekWorkTable[92]}}</td>
    </tr>
    <tr>
      <th scope="row">11:15-11:45</th>
      <td>{{weekWorkTable[8]}}</td>
      <td>{{weekWorkTable[25]}}</td>
      <td>{{weekWorkTable[42]}}</td>
      <td>{{weekWorkTable[59]}}</td>
      <td>{{weekWorkTable[76]}}</td>
      <td>{{weekWorkTable[93]}}</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{weekWorkTable[94]}}</td>
    </tr>
    <tr>
      <th scope="row">12:30-13:00</th>
      <td>{{weekWorkTable[9]}}</td>
      <td>{{weekWorkTable[26]}}</td>
      <td>{{weekWorkTable[43]}}</td>
      <td>{{weekWorkTable[60]}}</td>
      <td>{{weekWorkTable[77]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">13:00-13:30</th>
      <td>{{weekWorkTable[10]}}</td>
      <td>{{weekWorkTable[27]}}</td>
      <td>{{weekWorkTable[44]}}</td>
      <td>{{weekWorkTable[61]}}</td>
      <td>{{weekWorkTable[78]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">13:30-14:00</th>
      <td>{{weekWorkTable[11]}}</td>
      <td>{{weekWorkTable[28]}}</td>
      <td>{{weekWorkTable[45]}}</td>
      <td>{{weekWorkTable[62]}}</td>
      <td>{{weekWorkTable[79]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">14:00-14:30</th>
      <td>{{weekWorkTable[12]}}</td>
      <td>{{weekWorkTable[29]}}</td>
      <td>{{weekWorkTable[46]}}</td>
      <td>{{weekWorkTable[63]}}</td>
      <td>{{weekWorkTable[80]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">14:30-15:00</th>
      <td>{{weekWorkTable[13]}}</td>
      <td>{{weekWorkTable[30]}}</td>
      <td>{{weekWorkTable[47]}}</td>
      <td>{{weekWorkTable[64]}}</td>
      <td>{{weekWorkTable[81]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">15:00-15:30</th>
      <td>{{weekWorkTable[14]}}</td>
      <td>{{weekWorkTable[31]}}</td>
      <td>{{weekWorkTable[48]}}</td>
      <td>{{weekWorkTable[65]}}</td>
      <td>{{weekWorkTable[82]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">15:30-16:00</th>
      <td>{{weekWorkTable[15]}}</td>
      <td>{{weekWorkTable[32]}}</td>
      <td>{{weekWorkTable[49]}}</td>
      <td>{{weekWorkTable[66]}}</td>
      <td>{{weekWorkTable[83]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">16:00-16:30</th>
      <td>{{weekWorkTable[16]}}</td>
      <td>{{weekWorkTable[33]}}</td>
      <td>{{weekWorkTable[50]}}</td>
      <td>{{weekWorkTable[67]}}</td>
      <td>{{weekWorkTable[84]}}</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td scope="col" colspan="7"><span *ngIf="numberOfNextWeekTasks > 0">Vous avez {{numberOfNextWeekTasks}} tâches pour la semaine prochaine</span></td>
    </tr>
  </tbody>
</table>

